{% include "header.html"%}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Originally from Beijing, Chloe graduated from China’s top-rated Peking University and holds a master’s degree in art and literature. Prior to starting The Chloe Ren Group, Chloe worked at Sotheby’s International Realty.  Before that, she enjoyed a successful, decade-long career in media as a television broadcasting program anchor and a newspaper editor/columnist. Most recently, Chloe was a public relations director, creating high-profile events in New York and throughout the East Coast. Her mastery of communication, multitasking, problem-solving and advocating for others ensures that her clients and customers receive outstanding results.</p>
                        <p>Chloe is highly creative in both her professional and personal life. A poet and writer with nearly a dozen published books, she has received numerous national and international awards. She also loves theater, art, traveling and antique timepiece collecting. Chloe is a member of the Chinese Overseas Writers Association, the Chinese Musician’s Association and the Chinese Writers Association.</p>
                        <p>With her vast network of contacts throughout Asia, Chloe offers valuable services that few other Manhattan brokers can. Her fluency in Mandarin and her ability to read and write Chinese beautifully make her ideally suited for today’s international marketplace. Additionally, she is an Asian arts design expert who can offer suggestions, whether the client is buying or selling, on how to create a feeling of harmony and peace for a home.

Ms. Ren is licensed in the State of New York and her sponsoring broker is K Land Realty, Inc.</p>
                    </div>
                </div>
            </div>
        </main>

 {% include "footer.html" %}